<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentMaintenance.Properties.Settings.CollegeConnectionString"
            connectionString="Data Source=titanium.mountunion.edu;Initial Catalog=College;Persist Security Info=True;User ID=labuser;Password=password"
            providerName="System.Data.SqlClient" />
        <add name="StudentMaintenance.Properties.Settings.ExpConnectionString"
            connectionString="Data Source=titanium.mountunion.edu;Initial Catalog=Exp;Persist Security Info=True;User ID=labuser;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>